body{
	margin: 0 auto;

}
.wrapper {
max-width: 1600px;
margin: 0 auto;
background-color: white;

}
.headers {
padding: 0 20px; 
background-color: #e8ebf1;
}

header{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
    padding: 10px 0; 
}
ul{
	margin: 0;
	padding: 0;
	display: flex;
}
li {
	list-style: none;
	margin-right: 15px;
	font-style: Arial;
	font-size: 22px;
	text-align: center;
}
ul li a{
	text-decoration: none;
	color: black;
	border: 2px solid transparent;

}
ul li a:hover{
	color: white;
	background: gray;
	border-radius: 5px;
	border-top: 2px solid blue;
}

@media screen and (max-width: 796px){
	header {
		flex-direction: column;
		padding: 20px 0;
	}
	header img{
		display: inline-block;
		margin-bottom: 20px;
			}
			header ul {
				flex-direction: column;
			}
}
.content{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1600px;
	margin: 0 auto;
	width: 25%;
	padding: 20px 0; 
	justify-content: center;
     position:relative;
     background-size: cover;

}
@media screen and (max-width: 796px)

.content {
    display:inline-block;   
   position:relative;

}
.example_text {
    display:block;
    position:fixed;
    bottom:290px;
    max-width: 1600px;
    width:100%;
    text-align: center;
    color:#fff;     
    padding: 0 auto;
    background-color:rgba(0,0,0,.3);
    flex-wrap: wrap;
     
}
.content h6 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:36px;
}
.content span {
    font-size:20px; 
}